/* __________________________________________________-\ variables & container: ________________________________________________________________________________________________________________________ */

:root {
  /* Colours: */
  /* add link-color & link-color on hover when decided on colour/fonts? */
  /* primary/secondary colours? */
  /* css animation? */
  /* get a red and orange and yellow background too - just main colours of colour wheel */
  --purple-l: #40354c; 
  --purple-m: #372847; 
  --purple-d: #261f2e; 
  --blue-l: #363b4d; 
  --blue-m: #283047;
  --blue-d: #1f232e; 
  --green-l: #354c36;
  --green-m: #284834;
  --green-d: #1f2e25;
  --pink-l: #4d364b;
  --pink-m: #472845;
  --pink-d: #2e1f2d;
  --maroon-l: #4d3636; 
  --maroon-m: #472828; 
  --maroon-d: #2e1f1f;
  --primary-text-color: black; /* probably delete this */
  /* Fonts: */
  --primary-serif-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* --primary-serif-font: Georgia; */
  --primary-non-serif-font: Helvetica;
  --secondary-non-serif-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 
html {
  background-color: black;
  /* background-color: var(--green-m); */
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  font-family: var(--primary-non-serif-font); /* default font */ 
  color: black;
}

/* __________________________________________________-\ main structure and navigation: ________________________________________________________________________________________________________________________ */

.grid-container {
  display: grid;
  grid-template-columns: 4.7fr 0.3fr;
  grid-template-rows: 0.325fr 9.35fr 0.325fr;
  height: 100vh;
  background-color: var(--maroon-m);
  grid-template-areas: 
  "header-area         header-area"
  "main-content-area   menu-area"
  "footer-area         footer-area";
  /* border-radius: 15px; */
}

.header-area {
  grid-area: header-area;
  border-bottom: 1px solid black;
}

.footer-area {
  grid-area: footer-area;
  border-top: 1px solid black;
}

.header-area, .footer-area {
  padding-left: 1.5vw;
  font-weight: bold;
  font-family: var(--primary-non-serif-font);
  display: flex;
  align-items: center;
  /* overflow: hidden;
  white-space: nowrap; */
}

#home-link {
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 3px;
  text-underline-offset: 2px;
  margin: 0 7px 1px 0;
}

#home-link:hover {
  background-color: grey;
  /* background-color: purple; */
  cursor: grab;
}

.menu {
  grid-area: menu-area;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /* note: want menu flex items horizontally centered when zoom out*/
  height: 100%;
  writing-mode: vertical-rl;
  font-weight: bold;
  text-align: center;
  padding-right: 5px;
  /* padding-right: 7px; */
}

.menu > div {
  width: fit-content;
  border-left: 1px solid black;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.menu > div:last-child {
  position: relative;
  border-left: 1px solid black; /* first border */
  padding-left: 4px;
}

.menu > div:last-child::before, .menu > div:last-child::after { /* for lines at border of menu */
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: black;
}
      
.menu > div:last-child::before {
  left: -8px; /* second border */
}
      
.menu > div:last-child::after {
  left: -16px; /* third border */
}

.active-page-symbols {
  display: inline-block;
  transform: rotate(180deg);
}

.responsive-header {
  display: none;
}

/* __________________________________________________-\ main content - merch: ________________________________________________________________________________________________________________________ */
      
.main-content {
  grid-area: main-content-area;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.contact-button {
  align-self: flex-end;
  background-color: rgb(10, 10, 10);
  /* background-color: black; */
  /* background-color: var(--maroon-m); */
  height: fit-content;
  width: fit-content;
  text-align: center;
  margin: 1vh 1.5vw 0 0;
  padding: 7px 12px 7px 12px;
  border-radius: 15px;
  color: gray;
  /* color: var(--maroon-m); */
  font-size: 0.9rem;
  font-weight: bold;
}

.main-text {
  height: 100%; /* need this to define flex element size so can center it */
  width: 70%;
  align-content: center;
  align-self: center;
  padding-bottom: 10vh;
  font-size: 4rem;
  font-family: var(--primary-non-serif-font);
  /* font-family: var(--secondary-non-serif-font); */
  /* font-family: var(--primary-serif-font); */
  font-weight: bold;
  line-height: 1.1;
  text-align: center;  
}

a { /* remove styling from all anchor tags */
  color: black;
  text-decoration: none;
}

.main-content a:hover {
  cursor: grab;
  text-decoration: underline;  
}

.main-text-styling-one a {
  font-style: italic;
}

.main-text-styling-two {
  font-family: var(--primary-serif-font);
}

.main-text-superscript {
  font-size: 0.4em;
  vertical-align: super;
}

/* __________________________________________________-\ responsive design - tablet: ________________________________________________________________________________________________________________________*/

/* @media screen and (max-width: 992px) {

  html {
    overflow-x: hidden;    
  }

  .container {
    height: 85vh;
  }

  .responsive-header img {
    height: 4vh;
    width: auto;
  }

  .responsive-logo {
    padding-right: 7.5%;
  }

} */

/* __________________________________________________-\ responsive design - phone: ________________________________________________________________________________________________________________________ */

@media screen and (max-width: 576px) {

  html {
    font-size: 14px;
    /* overflow-x: hidden; NOT SURE if i need this */
    background-color: var(--blue-m);
  }

  .container {
    width: 100vw;
    /* width: 90vw; */ /* check on phone */
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "main-content-area";
    background-color: var(--maroon-m);
    height: 92vh; /* content is 99vh total with responsive header */
  }

  .header-area, .footer-area, .contact-button {
    display: none;
  }

  .main-text {
    width: 80%;
    z-index: 0;
    padding-bottom: 2vh; /* check on phone */ 
    font-size: 3rem;
    /* line-height: 1; */ /* check on phone */
    height: 70vh;
  }

  .header-area-responsive {
    border-top: 1px solid black;
    padding: 10px 0 20px 0;
    font-weight: bold;
    font-family: var(--primary-non-serif-font);
    /* background-color: #7D8590; */
    color: black;
    background-color: var(--blue-m);
  }

/* __________________________________________________-\ responsive header and burger menu: ________________________________________________________________________________________________________________________ */

  .responsive-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    z-index: 2; /* Make header top layer in document:  */
    position: relative;
    /* background-color: var(--maroon-l); */
    align-items: center;
    height: 7vh;
    min-height: fit-content;
    /* background-color: #7D8590; */
    /* background-color: #0D1117; */
    padding: 0.5vh 0 0.5vh 0;
  }

  .responsive-header img {
    height: 8vh;
    filter: grayscale(100%) contrast(1.85);
    margin-left: 7.5vw;
    /* padding-left: 7.5vw; */
    /* border: 1px solid black; */
    /* border-radius: 50%; */
    /* background-color: #0D1117; */
    /* background-color: var(--maroon-m); */
    border-radius: 100%;
  }

  .menu {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    height: 100vh; /* Check height/width on device: */
    width: 100vw;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    writing-mode: horizontal-tb;
    background-color: rgb(10, 10, 10);
    /* background-color: var(--green-m); */
    /* background-color: gray; */
  }

  .menu a {
    color: rgba(124, 124, 129, 1);
    /* color: gray; */
    /* color: black; */
  }

  .menu > div, .menu > div:last-child {
    border: none;
    font-size: 3rem;
  }

  .menu > div:last-child::before, .menu > div:last-child::after {
    content: none;
  }

  .burger {
    /* TRY ON PHONEs: */
    /* padding: 1vh 0 1vh 2vw;
    border-radius: 25%;
    background-color: black; */
    padding-right: 7.5vw;
  }

  .burger div {
    width: 30px;
    height: 3px;
    margin: 7px;
    /* background: black; */
    /* background-color: var(--maroon-d); */
    background-color: black;
    /* border: 1px solid #7D8590; */
    /* background: grey; */
    transition: all 0.3s ease-in;
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .contact-button-responsive {
    height: fit-content;
    width: fit-content;
    margin-right: 1.5vw;
    padding: 7px 12px 7px 12px;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    /* background-color: var(--maroon-l); */
    /* background-color: rgb(10, 10, 10); */
    /* background-color: black; */
    /* color: black; */
    color: #7D8590;
    /* color: gray; */
    /* color: var(--maroon-m); */
    /* border: 1px solid black; */
  }

  .nav-active {
    transform: translateX(0%);
  }
}