/* __________________________________________________________________________________________________________________________________________________________________________-\ variables & container: */

:root {
  /* Colours: */
  /* add link-color & link-color on hover when decided on colour/fonts? */
  /* primary/secondary colours? */
  --purple-l: #40354c; 
  --purple-m: #372847; 
  --purple-d: #261f2e; 
  --blue-l: #363b4d; 
  --blue-m: #283047;
  --blue-d: #1f232e; 
  --green-l: #354c36;
  --green-m: #284834;
  --green-d: #1f2e25;
  --pink-l: #4d364b;
  --pink-m: #472845;
  --pink-d: #2e1f2d;
  --maroon-l: #4d3636; 
  --maroon-m: #472828; 
  --maroon-d: #2e1f1f;
  --primary-text-color: black;
  /* Fonts: */
  --primary-serif-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* --primary-serif-font: Georgia; */
  --primary-non-serif-font: Helvetica;/* text-orientation: mixed; */
}
 
html {
  background-color: var(--green-m);
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  font-family: var(--primary-non-serif-font); /* default font */ 
  color: var(--primary-text-color);
}

/* __________________________________________________________________________________________________________________________________________________________________________-\ main structure and navigation: */

.grid-container {
  display: grid;
  grid-template-columns: 0.2fr 5fr 0.2fr;
  height: 100vh;
  background-color: var(--green-m);
  grid-template-areas: 
  "branding-area   main-content-area   menu-area";
}

.menu {
  grid-area: menu-area;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  writing-mode: vertical-rl;
  font-weight: bold;  
  text-align: center;  
}

.menu > div {
  width: fit-content;
  border-left: 1px solid black;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.menu > div:last-child {
  position: relative;
  border-left: 1px solid black; /* first border */
  padding-left: 4px;
}

.menu > div:last-child::before, .menu > div:last-child::after { /* for lines at border of menu */
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: black;
}
      
.menu > div:last-child::before {
  left: -8px; /* second border */
}
      
.menu > div:last-child::after {
  left: -16px; /* third border */
}

.branding {
  grid-area: branding-area;
  width: fit-content;
  height: 100%;
  background-color: var(--pink-m);
  border-left: 1.5px solid black;
  text-shadow:
    3px 3px 0 black, /* bottom-right */
    -1px -1px 0 black, /* top-left */
    1px -1px 0 black, /* top-right: */
    -1px 1px 0 black; /* bottom-left: */
  color: var(--pink-m);
  font-size: 3rem;  
  font-weight: bold;
  text-align: center;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

/* __________________________________________________________________________________________________________________________________________________________________________-\ main content - merch: */
      
.main-content {
  grid-area: main-content-area;
  display: flex;
  align-items: center;
  justify-self: center;
  width: 70%;
  height: 100%;
  text-align: center;
  /* For 3 lines at top:
  position: relative;
  border-top: 1px solid black; First border */
}

.main-text {
  font-size: 4rem;
  padding-bottom: 5vh;
  font-family: var(--primary-serif-font);
  font-weight: bold;
  line-height: 1.1;
}

.main-text-styling {
  font-style: italic;
}

.superscript {
  font-size: 0.4em;
  vertical-align: super;
}
  
/* For 3 lines at top:
.main-content::before, .main-content::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: black;
}
  
.main-content::before {
  top: -8px; Second border
}
  
.main-content::after {
  top: -16px; Third border 
} */
  


/* 
2. push to github
3. (quick) review of design research
4. add responsive menu & push to GH
5. tets on phoneee
6. finalise menu
7. compare structure of code to PW siteee
8. FInalise & Continue with rest of siteee */

